<div class="big_field field" id="big_field">
  <div class="big_cell cell top left">
    <div class="small_field field">
      <div class="small_cell cell top left loading" data-fieldnr="0"></div>
      <div class="small_cell cell top center" data-fieldnr="1"></div>
      <div class="small_cell cell top right" data-fieldnr="2"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="3"></div>
      <div class="small_cell cell middle center" data-fieldnr="4"></div>
      <div class="small_cell cell middle right" data-fieldnr="5"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="6"></div>
      <div class="small_cell cell bottom center" data-fieldnr="7"></div>
      <div class="small_cell cell bottom right" data-fieldnr="8"></div>
    </div>
  </div>
  <div class="big_cell cell top center">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="9"></div>
      <div class="small_cell cell top center" data-fieldnr="10"></div>
      <div class="small_cell cell top right" data-fieldnr="11"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="12"></div>
      <div class="small_cell cell middle center" data-fieldnr="13"></div>
      <div class="small_cell cell middle right" data-fieldnr="14"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="15"></div>
      <div class="small_cell cell bottom center" data-fieldnr="16"></div>
      <div class="small_cell cell bottom right" data-fieldnr="17"></div>
    </div>
  </div>
  <div class="big_cell cell top right">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="18"></div>
      <div class="small_cell cell top center" data-fieldnr="19"></div>
      <div class="small_cell cell top right" data-fieldnr="20"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="21"></div>
      <div class="small_cell cell middle center" data-fieldnr="22"></div>
      <div class="small_cell cell middle right" data-fieldnr="23"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="24"></div>
      <div class="small_cell cell bottom center" data-fieldnr="25"></div>
      <div class="small_cell cell bottom right" data-fieldnr="26"></div>
    </div>
  </div>
  <br>
  <div class="big_cell cell middle left">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="27"></div>
      <div class="small_cell cell top center" data-fieldnr="28"></div>
      <div class="small_cell cell top right" data-fieldnr="29"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="30"></div>
      <div class="small_cell cell middle center" data-fieldnr="31"></div>
      <div class="small_cell cell middle right" data-fieldnr="32"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="33"></div>
      <div class="small_cell cell bottom center" data-fieldnr="34"></div>
      <div class="small_cell cell bottom right" data-fieldnr="35"></div>
    </div>
  </div>
  <div class="big_cell cell middle center">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="36"></div>
      <div class="small_cell cell top center" data-fieldnr="37"></div>
      <div class="small_cell cell top right" data-fieldnr="38"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="39"></div>
      <div class="small_cell cell middle center" data-fieldnr="40"></div>
      <div class="small_cell cell middle right" data-fieldnr="41"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="42"></div>
      <div class="small_cell cell bottom center" data-fieldnr="43"></div>
      <div class="small_cell cell bottom right" data-fieldnr="44"></div>
    </div>
  </div>
  <div class="big_cell cell middle right">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="45"></div>
      <div class="small_cell cell top center" data-fieldnr="46"></div>
      <div class="small_cell cell top right" data-fieldnr="47"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="48"></div>
      <div class="small_cell cell middle center" data-fieldnr="49"></div>
      <div class="small_cell cell middle right" data-fieldnr="50"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="51"></div>
      <div class="small_cell cell bottom center" data-fieldnr="52"></div>
      <div class="small_cell cell bottom right" data-fieldnr="53"></div>
    </div>
  </div>
  <br>
  <div class="big_cell cell bottom left">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="54"></div>
      <div class="small_cell cell top center" data-fieldnr="55"></div>
      <div class="small_cell cell top right" data-fieldnr="56"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="57"></div>
      <div class="small_cell cell middle center" data-fieldnr="58"></div>
      <div class="small_cell cell middle right" data-fieldnr="59"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="60"></div>
      <div class="small_cell cell bottom center" data-fieldnr="61"></div>
      <div class="small_cell cell bottom right" data-fieldnr="62"></div>
    </div>
  </div>
  <div class="big_cell cell bottom center">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="63"></div>
      <div class="small_cell cell top center" data-fieldnr="64"></div>
      <div class="small_cell cell top right" data-fieldnr="65"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="66"></div>
      <div class="small_cell cell middle center" data-fieldnr="67"></div>
      <div class="small_cell cell middle right" data-fieldnr="68"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="69"></div>
      <div class="small_cell cell bottom center" data-fieldnr="70"></div>
      <div class="small_cell cell bottom right" data-fieldnr="71"></div>
    </div>
  </div>
  <div class="big_cell cell bottom right">
    <div class="small_field field">
      <div class="small_cell cell top left" data-fieldnr="72"></div>
      <div class="small_cell cell top center" data-fieldnr="73"></div>
      <div class="small_cell cell top right" data-fieldnr="74"></div>
      <br>
      <div class="small_cell cell middle left" data-fieldnr="75"></div>
      <div class="small_cell cell middle center" data-fieldnr="76"></div>
      <div class="small_cell cell middle right" data-fieldnr="77"></div>
      <br>
      <div class="small_cell cell bottom left" data-fieldnr="78"></div>
      <div class="small_cell cell bottom center" data-fieldnr="79"></div>
      <div class="small_cell cell bottom right" data-fieldnr="80"></div>
    </div>
  </div>
</div>