<div class="header index">
  <h1 class="index">Ultimate Tic Tac Toe</h1>
</div>

</div class="welcome">
  A stategic boardgame for 2 players.<br />
  <br />
  <img src="/images/uttt.gif" alt="Yeah!" /><br />
  <br />
  Win three games of Tic Tac Toe in a row.<br/>
  You may only play in the big field that<br />
  corresponds to the last small field your<br />
  opponent played. When your are sent to a<br />
  field that is already decided, you can<br />
  choose freely.<br />
  <br />
  You can find a better write up of the rules
  <a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/" title="Ultimate Tic Tac Toe"
     target="_blank">here</a>.<br />
  <br />
  It should work on most devices.<br />
  Javascript and cookies have to be enabled.<br />
  <br />
  <a href="/ttt/newgame" title="Start a new Game">Start a new game</a>
</div>