<!DOCTYPE HTML>
<html>
<head>
  <title>Ultimate Tic Tac Toe</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/uttt_style.css">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5"/>
</head>
<body>
  <%= yield %>
</body>
</html>